.comment-container {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.reply-button {
  width: fit-content;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: rgb(151, 151, 151);
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.post-button {
  width: fit-content;
  background-color: rgb(51, 156, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
  font-size: 20px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -25px;
  margin-bottom: 10px;
  font-family: serif;
}

.reply-container {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 20px;
  background-color: rgb(238, 245, 251);
}

.input {
  border-radius: 5px;
  border-width: thin;
  border-color: rgb(187, 187, 187);
  border-style: solid;
  padding: 7px;
  margin-bottom: 20px;
}

.comment-text {
  border-top: 1px solid rgb(161, 161, 161);
}

.form {
  display: flex;
  flex-direction: column;
}

.comment-item {
  padding-left: 20px;
}

.username {
  font-weight: bold;
  font-size: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.reply-text {
  padding-bottom: 10px;
}